#content {
    max-width: 1600px;
    margin: 0 auto;
}
img.logo {
    width: 80px;
}
/* a .book {
    margin-bottom: 100px;
} */
img.fire_icon {
    width: 80px
} 
img.oars{
    width: 80px
}
 img.river_icon {
    width: 80px
}
 .mountains {
    margin: 20px;
    margin-bottom: 100px;
 }
 .msg h2 {
    margin-top: 100px;
    margin-bottom: 40px;
 }
 .msg {
    margin-bottom: 100px;
 }


/* Texts and fonts */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@1,500&family=Sofia+Sans:wght@900&display=swap');
:root {
--heading-font: Sifia Sans;
--paragraph-font: Sofia Sans Extra Condensed,Lato, Helvetica, sans-serif;
}
.home-title {
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px
}
 nav {
    
    text-align: center;
 }   
a {
    font-family: var(--heading-font);
    text-align: center;
    color: #031926
}
#logo_link{
    padding-top: 5px;
}
#hero-msg h1 {
    text-align: center;
    font-family: var(--heading-font);
    color: #031926
    
}
#hero-msg h4{
    text-align: center;
    font-family: var(--heading-font);
    color: #031926
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
nav a {
    text-align: center;
    font-family: var(--heading-font);
    color:  #031926;
    text-decoration: none;
    padding: 35px;
}
body {
    background-color: #fcfbfb;
    font-family: var(--heading-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
.book, .join {
    background-color: #2B3A67;
    color: #031926;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: var(--paragraph-font);    
    border-radius: 5px;
}
.card-img {
    border: 10px solid #858080 ;
}
main section img {
    box-sizing: border-box;
}
.icon{
    padding-top: 10px;
}
.msg h2{
    font-family: var(--heading-font);
    color: #031926;
}
.msg{
    font-family: var(--paragraph-font);
    font-size: 26px;
    padding: 35px;
    background-color: #6f7364;
    line-height: 1.5em;
}
.msg p{
    padding-bottom: 15px
}
.river-card{
    margin:200 px 0;
}
.camping-card{
    margin:200 px 0;
}
.rapids-card{
    margin:200 px 0;
}

footer{
    padding: 25px 50px;
}
footer .social img{
    padding-top: 15px;
}
footer p {
    font-size: 1.2em;
}  
footer p a:hover {
    text-decoration: underline;
}   
footer p a:hover {
    text-decoration: underline;
}  



#background {
    height: 725px;
}
body {
    background-color: white; 
}
header {
    background-color: #858080;
}
nav a:hover {
    background-color: none;
}
.book{
    background-color: white;
}
.join{
    background-color: #858080;
}
.book:hover{
    background-color: none;
} 
.join:hover{
    background-color: #031926;
}
#background{
    background-color: #095256;
}
.msg{
    background-color: #858080;
}
footer{
    background-color: #858080;
}
